.items-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 35px;
  flex-wrap: wrap;

  .card-item {
    margin-bottom: 12px;
    padding: 15px;
    width: 25%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
}
