header {
  padding: 16px;
  color: #fff;
  background-color: #dfb585;

  .header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .lang {
        margin-left: 10px;
      }
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .home-btn {
        margin-right: 10px;
      }
    }
  }
}
