.breadcrumbs-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 35px;
  width: 100%;
  height: 70px;

  .breadcrumbs-option {
    margin-right: 15px;
    font-size: 13px;
    color: #dda1a9;
    cursor: pointer;

    .name {
      border-bottom: 1px solid#dda1a9;
    }
  }
}
